.Rproj.user
.Rhistory
.RData
.Ruserdata
*.aux
*.log
*.spl
R/*_cache/*
data/shortest_paths/*
data/shortest_paths.7z
data/Master_BlockGroups_Final071519.csv
data/park_flows.rds
data/logitdata.rds
alameda_destinationchoice.Rmd
_bookdown_files
data/streets/
