.Rproj.user
.Rhistory
.RData
.Ruserdata
*.aux
*.log
*.spl
*.bbl
*.blg
*.out
*.synctex.gz
R/*_cache/*
data/shortest_paths/*
data/shortest_paths_street/*
data/Master_BlockGroups_Final071519.csv
data/park_flows.rds
data/logitdata.rds
alameda_destinationchoice.Rmd
_bookdown_files
data/streets/
alameda_destinationchoice_files/*
alameda_destinationchoice_cache/*